/* Give your page a fun background color */

body {
    background-color: steelblue;
}

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

header {
    color: ghostwhite;
    text-align: center;
    padding: 20px;
}

footer {
    color: antiquewhite;
}

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */